a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: dimgrey;
}

.cart {
  border: 5px solid royalblue;
  font-size: larger;
  background-color: ivory;
  width: 700px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 0;
  margin: auto;
}

.cart h2 {
  color: darkgreen;
}
